@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&family=Rubik&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #F9CC7B;

    --cor-quartiaria: #3482AA;
    --cor-quintiaria: #3e3f3f;

    --cor-hover: #1111119f;

    --fonte-principal: 'Rubik', sans-serif;
    --fonte-secundaria: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}



.cabecalho{
    
    padding: 2% 2% 1% 15%;
    background-color: #3e3f3f23;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 5% 5% 5% 11%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__botao {
    padding: 0% 5% 5% 5%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap: 100px;
}


.logos{
    width: 50%;
    margin-top: -1.3em;
}

.apresentacao__conteudo{
    margin-top: -4rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__botao__conteudo{
    width: 50%;
    gap: 40px;
}


.apresentacao__conteudo__titulo{
    font-size: 2.0rem;
    font-family: var(--fonte-principal);
    margin: 1em 0 1em 0;
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__texto__sobre__mim{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-principal);
    align-items: center;
    background-color: #1d1d1d2a;

}

.apresentacao__links__navegacao:hover{
    background-color: var(--cor-hover);
    /* padding: 2% 2% 2% 2%; */
}

.apresentacao__imagem{
    margin-right: 1.5rem;
    width: 50%;
}

.cabecalho__menu__link:hover{
    color: #f0a61c;
}


.rodape{
    font-size: 15px;
    padding: 20px;
    color: var(--cor-secundaria);
    background-color: #3e3f3f17;
    text-align: center;
    font-family: var(--fonte-principal);
    

}

@media (max-width:1200px){
    .cabecalho{
        padding: 5%;
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        
        flex-direction: column-reverse;
        padding: 3%;
    }

    .apresentacao__imagem{
        margin: 0;

    }
    .apresentacao__botao{
        align-items: center;
        flex-direction: column;
        padding: 3%;
        margin-top: 2rem;
    }
    .apresentacao__conteudo{
        width: auto;
    }
    .apresentacao__links__navegacao{
        width: 70%;
    }
}

@media (max-width: 768px){
    .cabecalho{
        padding: 5%;
        background-color: #3e3f3f23;
    }
    
    .cabecalho__menu{
        display: flex;
        gap: 15px;
    }
    
    .cabecalho__menu__link{
        font-family: var(--fonte-principal);
        font-size: 1.1rem;
        font-weight: 500;
        color: var(--cor-terciaria);
        text-decoration: none;
    }
    .apresentacao{
        padding: 0;
        gap: 30px;
    }

    .apresentacao__conteudo{
        margin-top: 0;
        width: auto;
        padding: 2rem;
        
    }
    .apresentacao__conteudo__titulo{
        margin: 1em 0 1em 0;
    }
    .apresentacao__imagem{
        margin-top: 2rem;
        margin-right: 0;
        width: 80%;
    }

    .apresentacao__botao {
        padding: 12% 0 10% 0;
        display: flex;
        /* align-items: center; */
        justify-content: space-between;
        gap: 62px;
    }

    .apresentacao__botao__conteudo{
        width: 100%;
        gap: 40px;
        padding: 0em;
    }
    .apresentacao__links__navegacao{
        width: 70%;
    }


    
}

